@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

body {
    font-size: 20px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
}

/*Global*/
.container {
    position: relative;
    width: 30%;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.container .form {
    padding: 20px;
}

.container .form .closeBtn{
    float: right;
    margin: 0;
    color: #ccc;
    font-size: 30px;
}

.container .form .closeBtn:hover, .closeBtn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.form .input-field {
    margin-top: 30px;
}

.input-field input {
    height: 40px;
    width: 100%;
    padding: 0 10px;
    outline: 0;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.input-field input:is(:focus, :valid) {
    border-bottom-color:darkgrey;
}

.input-field #align {
    float: right;
    font-size: 15px;

}

form .checkbox-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    font-size: 15px;
}

.checkbox-text .checkbox-content {
    display: flex;
    align-items: center;
}

.checkbox-content input {
    margin: 0 8px -2 4px;
}

.form a {
    text-decoration: none;
}

.form a:hover {
    text-decoration: underline;
}

.form .button {
    margin-top: 35px;
}

.form .button input {
    border: none;
    color: #ffffff;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 16px;
    background-color: #4070f4;
    cursor: pointer;
    transition: all 0.3s ease;
}

.form .button input:hover {
     background-color: #265df2;
}
